language: csharp
solution: Zeebe.sln
install:
  - nuget restore Zeebe.sln
  - nuget install NUnit.Console -Version 3.9.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release Zeebe.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe ./Client-test/bin/x64/Release/client-test.dll
