name: .NET Core CI
on: 
  push:
    branches: main
  workflow_dispatch: { }
jobs:
  unit-test:
    name: Run unit tests
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: 8.x
    - name: Build
      run: dotnet build --configuration Release
    - name: Test
      run: dotnet test Client.UnitTests
  integration-test:
    name: Run integration tests
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: 8.x
    - name: Build
      run: dotnet build --configuration Release
    - name: Test
      run: dotnet test Client.IntegrationTests
