name: Pull request CI
on: [ pull_request ]
jobs:
  unit-test:
    timeout-minutes: 10
    name: Run unit tests
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: 8.x
    - name: Build
      run: dotnet build
    - name: Test
      run: dotnet test Client.UnitTests
  integration-test:
    name: Run integration tests
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: 8.x
    - name: Build
      run: dotnet build --configuration Release
    - name: Test
      run: dotnet test Client.IntegrationTests      
  auto-merge:
    name: Auto-merge dependabot PRs
    runs-on: ubuntu-latest
    needs: [ unit-test, integration-test ]
    if: github.repository == 'camunda-community-hub/zeebe-client-csharp' && (github.actor == 'dependabot[bot]' || github.actor == 'renovate[bot]')
    permissions:
      checks: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - id: merge
        name: Merge PR
        run: gh pr merge ${{ github.event.pull_request.number }} --merge
        env:
          GITHUB_TOKEN: "${{ secrets.AUTO_MERGE_GITHUB_TOKEN }}"
