name: Release Client
on: 
  push:
    branches:
      - 'release/**'
jobs:
  build:
    runs-on: ubuntu-latest    
    steps:
    - run: docker pull camunda/zeebe:8.1.3
    - uses: actions/checkout@v5
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: 8.x
    - name: Build 
      run: dotnet build --configuration Release      
    - name: Test
      run: dotnet test
    - name: Pack 
      working-directory: ./Client
      run: dotnet pack --configuration Release --no-restore
    - name: Release
      run: dotnet nuget push Client/bin/Release/zb-client.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s  https://api.nuget.org/v3/index.json
